.caret {
  position: relative;
}

.caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 50px solid #000000;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  border-bottom: 48px solid #fff;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
}