.caret {
  position: relative;
}

.caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 10px solid #cf92ff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  border-left: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}