.icon-sizer-ui {
  width: 52px;
}

.back-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #8ed7e8;
}

.back-icon:hover {
  cursor: pointer;
}

.settings-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #7ac1dd;
}

.settings-icon:hover {
  cursor: pointer;
}

.create-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #ff737d;
}

.create-icon:hover {
  cursor: pointer;
}

.back-animation {
  animation: back-animation 1s;
}

@keyframes back-animation {
  0% {transform: translateX(0px)}
  25% {transform: translateX(-10px)}
  50% {transform: translateX(0px)}
  75% {transform: translateX(-10px)}
  100% {transform: translateX(0px)}
}

.add-reward-animation {
  animation: add-reward-animation 0.5s;
}

@keyframes add-reward-animation {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}


.settings-animation {
  animation: settings-animation 4s;
}

@keyframes settings-animation {
  0% {transform: rotate(0deg)}
  20% {transform: rotate(-360deg)}
  40% {transform: rotate(-360deg)}
  60% {transform: rotate(0deg)}
  80% {transform: rotate(360deg)}
  100% {transform: rotate(360deg)}
}

.plus-animation, .create-animation {
  animation: plus-animation 0.5s 2;
}

@keyframes plus-animation {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
}




.clickable:hover {
  cursor: pointer;
}

.plus-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #8DC640;
}

.water-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #a3defe !important;
}

.grey-icon-div {
  background: white;
  padding: 5px;
  width: 52px;
  border-radius: 15px;
  margin: 0px 10px;
  border: 2px solid grey;
}

.add-reward-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #cf92ff;
}

.cancel-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #ff8a98;

  opacity: 0.3;
  transition: 0.75s;
}

.cancel-icon:hover {
  opacity: 1;
}

.bed-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #FD6F71 !important;
}

.brushteeth-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #97D68F !important;
}

.destress-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #ff899f !important;
}

.dishes-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #59c2e8 !important;
}

.dust-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #e0b799 !important;
}

.fold-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #69BFE2 !important;
}

.gym-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #6a829a !important;
}

.plants-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #6ac65e !important;
}

.recycling-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #889cb0 !important;
}

.salad-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #00ce8e !important;
}

.shower-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #91d4f2 !important;
}

.sun-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #ffb357 !important;
}

.trash-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #6ac65e !important;
}

.vacuum-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #7acdf9 !important;
}

.washing-icon {
  background: white;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #69a8ff !important;
}
