.icon-sizer-ui {
  width: 52px;
}

.back-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #8ed7e8;
}

.back-icon:hover {
  cursor: pointer;
}

.settings-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #7ac1dd;
}

.settings-icon:hover {
  cursor: pointer;
}

.create-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #ff737d;
}

.create-icon:hover {
  cursor: pointer;
}

.back-animation {
  animation: back-animation 1s;
}

@keyframes back-animation {
  0% {transform: translateX(0px)}
  25% {transform: translateX(-10px)}
  50% {transform: translateX(0px)}
  75% {transform: translateX(-10px)}
  100% {transform: translateX(0px)}
}

.add-reward-animation {
  animation: add-reward-animation 0.5s;
}

@keyframes add-reward-animation {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}


.settings-animation {
  animation: settings-animation 4s;
}

@keyframes settings-animation {
  0% {transform: rotate(0deg)}
  20% {transform: rotate(-360deg)}
  40% {transform: rotate(-360deg)}
  60% {transform: rotate(0deg)}
  80% {transform: rotate(360deg)}
  100% {transform: rotate(360deg)}
}

.plus-animation, .create-animation {
  animation: plus-animation 0.5s 2;
}

@keyframes plus-animation {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
}




.clickable:hover {
  cursor: pointer;
}

.plus-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #8DC640;
}

.grey-icon-div {
  background: white;
  padding: 5px;
  width: 52px;
  border-radius: 15px;
  margin: 0px 10px;
  border: 2px solid grey;
}

.add-reward-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #cf92ff;
}

.cancel-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #ff8a98;

  opacity: 0.3;
  transition: 0.75s;
}

.cancel-icon:hover {
  opacity: 1;
}


img[id*="drag"] {
  background: white;
  padding: 5px;
  border-radius: 15px;
  
}

.personal-care {
  border: 2px solid #AF55CF;
}

.home-care {
  border: 2px solid #309C31;
}

.task-management {
  border: 2px solid #6D91D7;
}

.personal-growth {
  border: 2px solid #F7E967;
}