.icon-sizer-ui {
  width: 52px;
}

.go-back {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #8ed7e8;
}

.go-back:hover {
  cursor: pointer;
}

.go-settings {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #7ac1dd;
}

.go-settings:hover {
  cursor: pointer;
}

.go-create {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #ff737d;
}

.go-create:hover {
  cursor: pointer;
}

.poke-left {
  animation: poke-left 1s;
}

@keyframes poke-left {
  0% {transform: translateX(0px)}
  25% {transform: translateX(-10px)}
  50% {transform: translateX(0px)}
  75% {transform: translateX(-10px)}
  100% {transform: translateX(0px)}
}

.spin {
  animation: spin 4s;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  20% {transform: rotate(-360deg)}
  40% {transform: rotate(-360deg)}
  60% {transform: rotate(0deg)}
  80% {transform: rotate(360deg)}
  100% {transform: rotate(360deg)}
}

.pulse {
  animation: pulse 0.5s 2;
}

@keyframes pulse {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
}

.clickable:hover {
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  border-radius: 20px;
}

.plus-icon {
  background: white;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #8DC640;
}