#user-settings-page {
  background: white;
  height: 100vh;
  transition: 0.5s;
}

.page-hiding {
  position: absolute;
  left: 105.6px;
  transform: translateY(-100vh);
}

.page-showing {
  transform: translateY(0vh);
}

#create-routines-page {
  background: white;
  height: 100vh;
  transition: 0.5s;
}

#use-routines-page {
  background: white;
  height: 100vh;
  transition: 0.5s;
}

#CRP-body {
  max-height: calc(100vh - 143px);
  min-height: calc(100vh - 143px);
  overflow-y: scroll;
}

#CRP-days {
  max-width: 515.6px;
}

/* ::-webkit-scrollbar { 
  display: none; 
} */