div {
  padding: 15px;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
}

.display-font {
  font-family: 'Fredericka the Great', cursive;
  font-size: 28px;
}

.no-padding-x {
  padding-top: 0px;
  padding-bottom: 0px;
}